body{
    background: #fafafa;
    font-size: 18px;
}














.btn{
  border:none;
  border-radius: 30px;
  padding:15px 35px;
  font-size: 18px;
  font-weight: 600;
}

.image-bookmark{
    margin-left: 10px;
}

.btn-part1-main{
    background: #3cb4ab;
    color:#ffffff;
}

.part2-main{
    position: relative;
    top:40px;
    background: #ffffff;
    width: 950px;
    height: 800px;
    border-radius: 15px;
    text-align: center;
}

.part2-main-a{
    margin-top: 20px;
}

.numbers{
    font-weight: bold;
    font-size: 40px;
}

.horizontal-line{
    border: 1px solid red;
    margin-top: 20px;
    width: 150px;
    display:inline-block;
}

.part2-main-b{
    margin-top: -20px;
}

.part2-main-c{
    margin-top: 20px;
}


.welcome-hero{
    width: 100%;
    height: 250px;
    background: url("../images/image-hero-mobile.jpg") no-repeat center center / cover;
}

.welcome-hero p{
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top:100px;
}

.menu-links-items{
    display: none;
}

.menu-icon{
    float:right
}

.logo{
    float:left;
}

.welcome-top{
    padding-top: 20px;






    border: 1px solid red;
}

.about-container{
    border: 1px solid #0F0;
}

.about-content{
    border:1px solid red;
    margin-top: -20px;
    background: #fafafa;
}



.logo-mastercraft{
    display: flex;
    justify-content: center;
    position: relative;
    top:-30px;
}

.masterclass-bamboo-advertisement{
    text-align: center;
    align-items: center;
}

.title{
    font-weight: bold;
    font-size: 30px;
}

.mastercraft-bamboo-interactions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.btn-model{
     border:none;  
    border-radius: 30px;
    padding:15px 35px;
    font-size: 18px;
    font-weight: 600;
  }

.btn-back{
    background: #46afa8;
    color:#ffffff
}

.about-values{
    background: #fafafa;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.value-one{
    padding-top: 20px;
}

.numbers{
    font-weight: bold;
    font-size: 30px;
}

.line{
    border-bottom: 1px solid red;
    width: 100px;
}




@media only screen and (min-width:768px){
    .welcome-hero{
        height: 400px;
        background: url("../images/image-hero-desktop.jpg") no-repeat center center /cover;
    }

    .mastercraft-bamboo-interactions{
        justify-content: space-around;
    }


}





