body{
    background: #fafafa;
}

.welcome-hero{
    width: 100%;
    height: 250px;
    background: url("../images/image-hero-mobile.jpg");
     background-size: contain;
    background-repeat: round;
}

.welcome-hero p{
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 100px;
}

.logo{
    float: left;
    position: relative;
    left:8px;
    margin-top: -5px;
}

.menu-hamburguer{
    float:right;
    cursor: pointer;
}

.menu-hamburguer img{
    width: 100%;
    height: 100%;
    position: relative;
    right: 10px;
}

.menu-close{
    float:right;
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 99;

}

.menu-close img{
    width: 100%;
    height: 100%;
    position: relative;
    right: 10px;
}

.menu-links{
    display: none;
    background-color: #ffffff;
    position: relative;
    top: 50px;
    width: 287px;
    height: 150px;
    z-index: 99;
    border-radius: 10px;
    left: 5px;
}

.menu-links ul li{
    font-size: 20px;
    list-style:none;
    margin: 15px 0 5px 0; 
    padding: 5px 0;
    
}

.menu-links ul li:last-child{
    border-bottom: none;
}

.menu-links a{
    color:black;
}



a:link{
    text-decoration: none;
}

.welcome-top{
    padding-top: 25px;
}

.about-container{
    position: relative;
    top: -45px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 0 5px;
    border: 1px solid #f6f6f6;
}

.logo-mastercraft{
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
}

.about-advertisement{
    text-align: center;
    align-items: center;
}

.about-containers-btn{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.text{
    font-weight: bold;
    font-size: 25px;
}

.subtext{
    color: #adadad;
    margin: 0 auto;
    position: relative;
    padding: 15px 0 15px 0;
    font-size: 14px;
    left: 3px;
}

.about-cta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.back-this-project{
    background:#3cb4ab;
    color:#ffffff;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    height: 60px;
    margin-top: 30px;
    padding: 5px 40px;
    float:left;
}

.back-this-project:hover{
    background: #157a74;
}

.image-bookmark{
    margin-top: 32px;
    /* margin-left: 10px; */
}

.backers-container{
    background: #ffffff;
    text-align: center;
    border:1px solid #f9f9f9;
    border-radius: 8px;
    position: relative;
    top:-70px;
}

.backers-small-gray{
    background: #cdcdcd;
    width: 250px;
    height: 15px;
    margin: 40px auto;
    border-radius: 7px;
    position: relative;
}

.backers-big-green{
    background:#3cb4ab;
    width: 210px;
    height: 15px;
    margin: 20px auto;
    position: absolute;
    border-radius: 7px;
    top:-20px;
}

.bookmark{
    width: 100px;
    height: 55px;
    background: #cdcdcd;
    border:none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    color:gray;
    display:none;
    text-align: center;
    padding-top: 12px;
    margin-top: 30px;
}

.numbers{
    font-weight: bold;
    font-size: 30px;
}

.product-info-numbers {
    overflow: hidden;
}

.backers-informations{
    position: relative;
    margin-top: 40px;
}

.backers-informations::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100px;
    background-color: #d6d6d6;
    bottom: -16px;
    right: calc(50% - 50px);
}

.backers-informations:last-child::after{
    display: none;
}

.backers{
    margin-top: 40px;
}

.product-info-title{
    font-weight: bold;
    margin-top: 10px;
}

.gray-line{
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background: #ececec ;
    margin-top: 10px;
}

.information-container{
    position: relative;
    top: -45px;
    border:1px solid #f9f9f9;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 0 10px;
}

.information-container-text{
    padding-top: 25px;
    margin-left: 5px;
}

.product-info{
    padding:16px;
    border: 1px solid #888;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: left;
    position: relative;
}

.title-price{
    width: 80%;
    float: left;
}

.title-price-popup{
    position: relative;
    left:20px
}

.cicle{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    float: left;
    position: relative;
    border: 1px solid #c4c4c4;
}

.cicle-two{
    position: relative;
    top: 10px;
}

.cicle::before{
    content: '';
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3cb4ab;
}
.cicle-green{
    content: '';
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3cb4ab;
}



.product-info-highlight{
    border: 2px solid #3cb4ab;
}


.product-info:last-child{
    opacity: 0.5;
}

.product-info-subtext{
    position: relative;
    top:-10px;
    margin-left:  -5px;
}

.btn-model{
    border: none;
    border-radius: 30px;
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    height: 60px;
}

.btn-select-reward{
    background:#3cb4ab;
    color:#ffffff;
    margin-bottom: 10px;
}

.btn-out-of{
    background-color: #cdcdcd;
    color:#ffffff;
    margin-bottom: 10px;
}

.text-and-buttons{
    position: relative;
}

.product-info-numbers p{
    font-weight: bold;
    font-size: 28px;
    display: inline-block;
}

.popup-subtext{
    color:#adadad;
    font-size: 16px;
    text-align: center;
    padding: 8px;
    margin-top: 20px;
}

.product-info-numbers span{
    vertical-align: super;
}

.btns{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.coin{
    opacity: 0.5;
    right: 8px;
    position: relative;
    top: 7px;
}

.popup-btns{
    padding: 5px 20px;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 600;
    height: 45px;
}

.price-btn{
    border: 1px solid #bacfd0;
    background:#ffffff;
    color: black;
    margin-right: 5px;
}

.continue-btn{
    background:#3cb4ab;
    color:#ffffff;
    border: none;
}

.numbers-popup{
    font-size: 20px;
}

.numbers-and-text{
    display: flex;
    margin-top: 15px;
}

.numbers-and-text h3{
    font-weight: bold;
    font-size: 20px;
}

.numbers-and-text span{
    position: relative;
    left: 10px;
    top:1px;
}

.title-price p:last-child{
    position: relative;
    top: -15px;
}

 .overlay{
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index:1;
    transition: all .6s;
    cursor: pointer;
} 

.active-overlay{
    display: block;
    top: 0;
  } 

 /*  .menu-links .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index:1;
    display:none;
  }

  .menu-links.active .overlay{
      display: block;
  } */

 .popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index:1;
    display:none;
} 

.popup.active .overlay{
    display: block;
} 

.popup .content{
    position: absolute;
    top: 146%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 292px;
    height: 1200px;
    border-radius: 10px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.popup .close-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #fff;
    color:#9b9b9b;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}

.head-content{
    text-align: left;
}

.product-info::after{
    border: 1px solid #3cb4ab;
}

.product-price{
    color: #3cb4ab;
}

.popup .product-info-title{
    margin-left: 25px;
}

.popup .product-price{
    margin-left: 28px;
}

#title-popup{
    font-weight: bold;
    margin-top: 10px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked){
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;

}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    margin-top: 10px;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after
{
    content: '';
    width: 8px;
    height: 8px;
    background: #3cb4ab;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: 0.2s ease;
    margin-top: 10px;
}
[type="radio"]:not(:checked) + label:after{
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after
{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/*Estilo para telas maiores*/
@media only screen and (min-width:768px){
.welcome-hero{
    height: 400px;
    background: url("../images/image-hero-desktop.jpg") no-repeat center center /cover;
}

.logo{
    margin-top: 20px;
}

.about-container{
    top: -90px;
}

.about-cta{
    justify-content: space-between;
    margin: 40px;
}

.bookmark{
    display: inline-block;
    width: 200px;
    margin-left: 152px;
    padding-left: 40px;

}

.backers-informations{
    width: 33.33%;
    float: left;
}

.backers-small-gray{
    width: 650px;
    margin: 40px -440px;
}

.backers-big-green{
    width: 580px;
}

.information-about-supporters::after{
    margin: -50px 200px;
    transform: rotate(90deg);
}

.image-bookmark{
    margin: -55px 150px;
}

.backers-informations::after{
    height: 75px;
    width: 1px;
    bottom: 10px;
    right: 0;
}

.information-container{
    font-size: 16px;
    padding: 10px 57px;
}

/* .product-info-numbers{
    padding-top: 10px;
} */

.btn-select-reward{
    margin-left: 235px;
}

.btn-out-of{
    margin-left: 250px;
}

.menu-links {
    display: inline-block!important;
    position: relative;
    top:15px;
    margin-left: 670px;
    background: none;
}

.menu-links ul{
    display: flex;
    justify-content: space-between;
}

.menu-links a {
    color: #ffffff;
    position: relative;
    top: -18px;
    padding-right: 10px;
    display: ruby;
}

.menu-hamburguer{
    display: none;
}

.menu-close{
    display: none!important;
}

.popup .content{
    margin-top: 20px;
    width: 732px;
    top: 85%;
    height: 800px;
}

.product-price{
    margin-top: -40px;
    text-align: right;
}

.popup .product-price{
    padding-left: 150px;
    padding-top: 17px;
    margin-right: 295px;
}

.popup .numbers-and-text{
    position: absolute;
    right: 50px;
    top: 0px;
}

.product-info-subtext{
    display: inline-block;
}

.subtext{
    font-size: 18px;
    left: 3px;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before
{
    top:-5px;
}
 [type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after
{
    top:0px;
}

.text-and-buttons{
    display: flex;
    margin-top: 30px;
}

.btns{
    margin-left: 310px;
}

.popup-subtext{
    margin-top: 0;
}

.numbers-and-button{
    display: flex;
    justify-content: space-between;
}

.gray-line{
    display: none;
}


}





