body{
    background: #fafafa;
    font-size: 18px;
}

/*
.content-image-hero{
    position: absolute;
    width: 100%;
    height: 100%;
}

.welcome-hero{
    background-color: red;
}

h1{
    background-color: blue;
}
.content-image-hero img{
    position: relative;
    width: 100%;
    height: 200%;
}

.content-image-hero p{
    color:#ffffff;
    font-weight: bolder;
    font-size: 36px;
    text-align: left;
    border: 1px solid red;
    position: absolute;
    top:45px;
    left:95px;
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    top:600px;
    position: absolute;
    margin-left:170px;
}

.part1-main{
    background: #ffffff;
    width: 950px;
    height: 500px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
}

.logo-mastercraft{
    position: relative;
    top:-55px;
}

.logo-mastercraft img{
    width: 10%;
}

.part1-main-title{
    position: relative;
}

.title{
    font-weight: bold;
    font-size: 30px;
}

.part1-main-description{
    width: 35%;
    position: relative;
    display:inline-block;
}

.part1-main-acess{
    display: flex;
    flex-direction: row;
    position: relative;
    top:10px;
    justify-content: center;
}

.btn{
  border:none;
  border-radius: 30px;
  padding:15px 35px;
  font-size: 18px;
  font-weight: 600;
}

.image-bookmark{
    margin-left: 10px;
}

.btn-part1-main{
    background: #3cb4ab;
    color:#ffffff;
}

.part2-main{
    position: relative;
    top:40px;
    background: #ffffff;
    width: 950px;
    height: 800px;
    border-radius: 15px;
    text-align: center;
}

.part2-main-a{
    margin-top: 20px;
}

.numbers{
    font-weight: bold;
    font-size: 40px;
}

.horizontal-line{
    border: 1px solid red;
    margin-top: 20px;
    width: 150px;
    display:inline-block;
}

.part2-main-b{
    margin-top: -20px;
}

.part2-main-c{
    margin-top: 20px;
}
*/

.welcome-hero{
    width: 100%;
    height: 250px;
    background: url("../images/image-hero-mobile.jpg") no-repeat center center / cover;
}

.welcome-hero p{
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top:100px;
}

.menu-links-items{
    display: none;
}

.menu-icon{
    float:right
}

.logo{
    float:left;
}

.welcome-top{
    padding-top: 20px;
    border: 1px solid red;
}
.about-container{
    border: 1px solid #0F0;
}
.about-text{
    background: red;
    margin-top: -20px;

}



@media only screen and (min-width:768px){
    .welcome-hero{
        height: 400px;
        background: url("../images/image-hero-desktop.jpg") no-repeat center center /cover;
    }
}





